<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f90c576742.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Africa Wind Solar Energy</title>
</head>
<body style="background-image: url('../photos/solar-and-eolienne.jpg'); background-size:cover;background-attachment:fixed; font-family: serif;">
    <header>

          <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
           <div class="container-fluid">
          <a class="navbar-brand p-1" href="#"><img src="../photos/Logo-solar.png" alt="" width="70px"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">ACCUEIL</a>
              <a class="nav-link" href="/#services">SERVICES</a>
              <a class="nav-link" href="/#apropos">À PROPOS</a>
              <a class="nav-link" href="/#projets">PROJETS</a>
              <a class="nav-link" href="/training">NOS FORMATIONS</a>
              <a class="nav-link" href="/#contact">CONTACT</a>

            </div>
          </div>
        </div>
      </nav>
           </div>
        </div>
      </header>
