<%-include('header.ejs')-%>
    <main>
            <section style="background:none;"">
                <div class="col-md-12 text-center w-50 m-auto p-auto my-5 text-white">

                <h1 style="font-size: 60px;">
                    LEADERS DANS L'INSTALLATION D'ÉNERGIE SOLAIRE ET ÉOLIENNE
                </h1>
                <h1>
                    <div class="rotated fw-bold fs-1"><a href="#services" class="text-decoration-none text-reset"><span style="font-size: 90px;">^</span></a></div>
                </h1>
            </div>

            </section>
            <section class="bg-white" id="services">
                <!--Services-->
                    <div class="container-fluid py-5">
                        <div class="text-center align-items-center m-auto p-auto">
                            <h1>SERVICES</h1>
                        <hr class="border border-warning border-4 mb-5" style="width:10%;margin: auto;padding: auto;">
                        </div>

                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../photos/planification.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Planification</h5>
                                  <p class="card-text">Pour maintenir la sécurité et l'intégrité structurale du bâtiment; le panneau solaire et le système éolien doivent être installés conformément aux règlements de construction.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../photos/modeling.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Modélisation et  Installation</h5>
                                  <p class="card-text">Il est judicieux de veiller à ce que les structures sous-jacentes telles que les supports de toiture, les matériaux de toiture et toute autre structure de support durent également pendant toute la durée de vie du système solaire et éolien. Cela permettra d'éviter ce qui pourrait s'avérer plus tard des réparations coûteuses et compliquées sur toute la ligne.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../photos/gestion_installation.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Gestion de l'Installation</h5>
                                  <p class="card-text">Lors de l'installation, la gestion des aspects technologiques du projet ainsi que l'ingénierie sont très bien suivies.</p>
                                </div>
                              </div>
                            </div>

                          </div>
                    </div>
            </section>
            <section>
                <!--A propos-->
                    <div class="container-fluid" id="apropos">

                            <div class="row">
                                    <div class="col-12 col-md-6  justify-content p-5 bg-light ">
                                        <h1>À PROPOS</h1>
                                            <hr class="border border-warning border-4 mb-5" style="width:15%;margin-left:">

                                        <p style="text-align: justify;">
                                            Africa Wind and Solar Energy est la société qualifiée pour toute installation d'énergie renouvelable: éolienne et panneau solaire. De l'étude à l'installation, notre expertise est la meilleure. Nous fournissons à nos clients des solutions énergétiques de qualité conçues pour alimenter le futur.

​

                                              L'équipe dédiée aux énergies renouvelables a en prevision la construction de plus de 50 MW d'énergie éolienne et solaire en Afrique. Grâce à une vaste expérience de notre méthode de livraison, nous sommes en mesure de fournir l'équipement, en minimisant les processus d'administration, et en maximisant l'efficacité et la qualité dans la finission du produit à installer.

​

                                            Notre expérience croissante dans des environnements géographiques diversifiés, y compris sur des terrains difficiles et dans des endroits éloignés, nous permet de capitaliser sur les défis causés par ces environnements, en développant une riche expérience de solutions qui ajoute de la valeur à chaque projet successif.
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6 justify-content" >
                                            <div class=" h-100 w-auto py-5">

                                            </div>
                                    </div>
                            </div>
                    </div>

            </section>
            <section>
                    <div class="container-fluid bg-warning text-white p-5">
                        <div class="row ms-5 text-center">
                            <div class="col-6 col-md-3" style="border-right:3px solid white;">
                                <h1>2023</h1>
                                <h4>Projets estimés</h4>
                            </div>
                            <div class="col-6 col-md-3" style="border-right:3px solid white;">
                                <h1>206</h1>
                                <h4>Projets Attendus</h4>
                            </div>
                            <div class="col-6 col-md-3" style="border-right:3px solid white;">
                                <h1>870</h1>
                                <h4>Contractors Appointed Expected</h4>
                            </div>
                            <div class="col-6 col-md-3">
                                <h1>26</h1>
                                <h4>Prix Attendus</h4>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="bg-light" id="projets">
                        <div class="container-fluid py-5">
                            <div class="text-center align-items-center m-auto p-auto">
                                <h1 id="projets">PROJETS</h1>
                            <hr class="border border-warning border-4 mb-5" style="width:10%;margin: auto;padding: auto;">
                            </div>

                            <div class="row">
                                <div class="row row-cols-1 row-cols-md-2 g-4 image">
                                    <div class="col">
                                      <div class="card">
                                        <a href="/projet-1">
                                            <img src="../photos/solar-maison.jpg" class="card-img-top" alt="Habitation solaire" title="Habitation solaire" width="200px" height="425px">

                                        </a>

                                        <div class="card-body">
                                          <h5 class="card-title">Habitation solaire</h5>
                                          <p class="card-text text-truncate">
                                            Réduction des factures d'électricité <br>
                                              Lorsque vous avez de l'énergie solaire, vous générez votre propre énergie au lieu de l'acheter à partir du réseau, ce qui peut signifier des factures d'énergie plus petites et de grosses économies. <br>



                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="card">
                                        <a href="/projet-2">
                                        <img src="../photos/eolienne-offshore.jpg" class="card-img-top" alt="Energie Eolienne" title="Energie Eolienne">
                                        </a>
                                        <div class="card-body">
                                          <h5 class="card-title">Energie éolienne</h5>
                                          <p class="card-text text-truncate">
                                            Le vent est une source d'énergie renouvelable propre, gratuite et facilement disponible. Les éoliennes captent la puissance du vent et la convertissent en électricité. La technologie des éoliennes s'étend des turbines onshore à offshore. Les éoliennes peuvent être utilisées comme des applications autonomes, ou peuvent être connectées à un réseau électrique public ou même associées à un système photovoltaïque .

                                              <br> L'énergie éolienne est actuellement la source la moins chère d'énergie renouvelable à grande échelle.


                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="card">
                                        <a href="/projet-3">
                                        <img src="../photos/pompe_solaire_potager.jpg" class="card-img-top" alt="Irrigations Solaires" title="Irrigations Solaires">
                                        </a>
                                        <div class="card-body">
                                          <h5 class="card-title">Pompage solaire</h5>
                                          <p class="card-text text-truncate">
                                            Les pompes à eau à énergie solaire utilisent l'électricité générée pour pomper l'eau. Les applications courantes sont l'eau pour le bétail, l'irrigation des cultures, l'eau potable et l'eau de cuisson.

                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="card">
                                        <a href="/projet-4">
                                        <img src="../photos/lampe-solaire-street.jpg" class="card-img-top" alt="Lampe, chauffage,..., solaire" title="Lampe, chauffage,..., solaire">
                                        </a>
                                        <div class="card-body">
                                          <h5 class="card-title">Lampadaire solaire et autres</h5>
                                          <p class="card-text text-truncate">
                                            Le lampadaire solaire est ce type de lumière que vous pouvez installer dans votre jardin, dans votre cour ou le long de votre clôture. Très économique, il apporte un caractère esthétique à votre maison pendant la nuit. Ce type d’éclairage possède plusieurs autres avantages.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>

            </section>
            <section class="bg-white">
                <div class="container-fluid py-5 ms-5">
                    <div class="text-center align-items-center m-auto p-auto">
                        <h1>CLIENTS</h1>
                    <hr class="border border-warning border-4 mb-5" style="width:10%;margin: auto;padding: auto;">
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-2 clients">
                            <img src="../photos/hotelicon.jpg" width="100%" alt="">

                        </div>
                        <div class="col-6 col-md-2">
                                <img src="../photos/School-Icon.jpg" width="100%" alt="">
                        </div>
                        <div class="col-6 col-md-2">
                            <img src="../photos/Bank.png" width="100%" alt="">
                        </div>
                        <div class="col-6 col-md-2">
                                <img src="../photos/residence.jpg" width="100%" alt="">
                        </div>
                        <div class="col-6 col-md-2">
                                <img src="../photos/Store.png" width="100%" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section class="bg-light" id="contact">
                <!--CONTACTS-->
                <div class="container-fluid py-5">
                    <div class="text-center align-items-center m-auto p-auto">
                        <h1 >CONTACTS</h1>
                    <hr class="border border-warning border-4 mb-5" style="width:10%;margin: auto;padding: auto;">
                    </div>
                    <div class="row m-5">
                          <div class="mapouter m-auto p-auto"><div class="gmap_canvas"><iframe width="900" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Faya,%20Abidjan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:900px;}</style><a href="https://www.embedgooglemap.net">google map embed responsive</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:900px;}</style></div></div>
                    </div>
                    <div class="row mx-5">
                            <div class="col-12 col-md-6">
                                    <h2>Demande de renseignement</h2>
                                    <p>Pour toute demande de renseignement, question ou recommandation, appelez le: (+225) 07-87-83-77-74 ou  remplissez le formulaire suivant:</p>
                                    <form action="mailto:dr.fofd@gmail.com" method="post">
                                        <input class="form-control mb-1" type="text" name="fullname" id="" placeholder="Full Name *">
                                        <input class="form-control mb-1" type="email" name="email" id="" placeholder="Email *">
                                        <input class="form-control mb-1" type="text" name="phone" id="" placeholder="Phone">
                                        <input class="form-control mb-1" type="text" name="box" id="" placeholder="Addresse">
                                        <input class="form-control mb-1" type="text" name="objet" placeholder="Objet">
                                        <textarea  class="form-control mb-1"name="message" id="" cols="30" rows="5" placeholder="Message"></textarea>
                                        <input  class="form-control mb-1 bg-secondary text-white w-25 "type="button" value="Submit">
                                    </form>
                            </div>
                            <div class="col-12 col-md-6 px-5">
                                <h2>Siège social</h2>
                                <p>22 BP 1369 Abidjan 22

                                    Côte d'Ivoire</p>
                                    <p>Tel: (+225) 07-87-83-77-74</p>
                                    <h2>Emploi</h2>
                                    <p>Pour postuler à un emploi chez Wind-Solar-Africa, envoyez nous une lettre de motivation avec votre CV.</p>
                                    <hr class="border border-warning border-4 mt-5" style="width:15%">

                                    <h2>Démandez-nous un devis. C'est gratuit: (+225)07-87-83-77-74</h2>
                            </div>
                    </div>
                </div>
            </section>



    </main>
<%-include('footer')-%>
