<%-include('header')-%>

    <main>
        <section class="bg-white my-5">
            <div class="container-fluid my-5">
                <div class="row bg-light my-5 p-5">
                        <h1> PROJET 4</h1>
                        <hr class="border border-warning border-5 ms-3" style="width: 10%;">
                </div>
                <div class="row m-5">
                    <div class="col-12 col-md-6 px-5">
                        <p style="text-align: justify;">
                          Le lampadaire solaire est ce type de lumière que vous pouvez installer dans votre jardin, dans votre cour ou le long de votre clôture. Très économique, il apporte un caractère esthétique à votre maison pendant la nuit. Ce type d’éclairage possède plusieurs autres avantages.
                          <br>
                          L’intérêt des lampadaires solaires réside dans leur fonctionnement « off grid » permettant une utilisation en absence de réseau public de distribution d’électricité.
                          <br>
                          Afin de pouvoir fonctionner même les jours nuageux, les lampadaires sont équipés d’une batterie permettant de stocker l’électricité pour différer son utilisation la nuit, par tous les temps. En fonction de la localisation souhaitée, les batteries sont dimensionnées en tenant compte du climat et de la durée d’utilisation demandée.
                          <br>
                          La maintenance des équipements est légère et ne nécessite pas d’intervention d’électriciens. Les batteries utilisées sont conçues pour résister au froid (jusqu’à — 20 °C en général) et supporter des températures extrêmes allant jusqu’à + 65 °C, permettant l’installation des lampadaires partout en Afrique.

                          <br>
                          Par ailleurs, les lampadaires sont programmables en fonction des besoins des utilisateurs : selon des plages horaires prédéfinies ou au moyen de la détection de présence pour les zones moins fréquentées.

                        </p>
                        <a href="/#projets" role="button" class="btn btn-dark" >Projets</a>
                    </div>
                    <div class="col-12 col-md-6 px-5">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="10000">
                                <img src="../photos/solar street light.jpg" class="d-block w-100" alt="..." width="300px" height="400px">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5></h5>
                                  <p></p>
                                </div>
                              </div>
                              <div class="carousel-item" data-bs-interval="2000">
                                <img src="../photos/Solar garden.jpg" class="d-block w-100" alt="..." width="300px" height="400px">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5></h5>
                                  <p></p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="../photos/p4-station-de-recharge.jpg" class="d-block w-100" alt="..." width="300px" height="400px">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5></h5>
                                  <p></p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
<%-include('footer')-%>
