<%-include('header')-%>

    <main>
        <section class="bg-white my-5">
            <div class="container-fluid my-5">
                <div class="row bg-light p-5">
                        <h1> PROJET 2</h1>
                        <hr class="border border-warning border-5 ms-3" style="width: 10%;">
                </div>
                <div class="row p-5">
                    <div class="col-12 col-md-6 p-5">
                        <p style="text-align: justify;">
                            Le vent est une source d'énergie renouvelable propre, gratuite et facilement disponible. Les éoliennes captent la puissance du vent et la convertissent en électricité. La technologie des éoliennes s'étend des turbines onshore à offshore. Les éoliennes peuvent être utilisées comme des applications autonomes, ou peuvent être connectées à un réseau électrique public ou même associées à un système photovoltaïque .

    <br> L'énergie éolienne est actuellement la source la moins chère d'énergie renouvelable à grande échelle.

      <br>  Les projets de parcs éoliens onshore et offshore posent un certain nombre de défis. Les installations sont complexes et chaque site est différent. Notre expertise  reconnue facilite l'installation et garantit que votre projet répond à des exigences spécifiques et réglementaires.
                        </p>
                        <a href="/#projets" class="btn btn-dark" role="button">Projets</a>

                    </div>
                    <div class="col-12 col-md-6 p-5">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active" data-bs-interval="10000">
                                <img src="../photos/eollienne-onshore.jpg" class="d-block w-100" alt="..." width="300px" height="400px">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5></h5>
                                  <p></p>
                                </div>
                              </div>
                              <div class="carousel-item" data-bs-interval="2000">
                                <img src="../photos/Eolienne.jpg" class="d-block w-100" alt="..." width="300px" height="400px">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5></h5>
                                  <p></p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="../photos/intro-eolienne.jpg" class="d-block w-100" alt="..." width="300px" height="400px">
                                <div class="carousel-caption d-none d-md-block">
                                  <h5></h5>
                                  <p></p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

<%-include('footer')-%>
