<%-include('header')-%>
<main>
  <section>
    <div class="container m-5">
      <div class="bg-primary bg-transparence text-left text-white w-50 mt-5 p-2">
      <h1 class="fw-bold">Cours de Formation sur les Énergies Renouvelables</h1>
      <p>Un Certificat de qualité fourni par des experts.</p>
      </div>
          <div class="d-md-flex flex-md-row flex-sm-column m-3 text-center">
              <div class="card m-3" style="width: 15rem;">
                <img src="../photos/training-start.png" class="card-img-top w-25 m-auto p-auto" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-bold fw-bold">Commencez Aujourd'hui</h5>
                  <p class="card-text">Rejoignez plus de 5000 personnes qui nous font confiances</p>
                </div>
              </div>
              <div class="card m-3" style="width: 15rem;">
                <img src="../photos/training-expert.png" class="card-img-top w-25 m-auto p-auto" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Formation d'expert</h5>
                  <p class="card-text">Cours dispensés par des universitaires et des leaders de l'industrie.</p>
                </div>
              </div>
              <div class="card m-3" style="width: 15rem;">
                <img src="../photos/training-certficate.png" class="card-img-top w-25 m-auto p-auto" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Formation accréditée</h5>
                  <p class="card-text">Attribution de diplôme et de Certificat de fin d'étude.</p>
                </div>
              </div>
              <div class="card m-3" style="width: 15rem;">
                <img src="../photos/training-contact.png" class="card-img-top w-25 m-auto p-auto" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Contactez-Nous</h5>
                  <p class="card-text">Un accompagnement disponible tout au long de vos études.</p>
                </div>
              </div>
          </div>
    </div>
  </section>
  <section>
    <!-- Formation en energie solaire -->
    <div class="container-plain bg-light p-5 text-center">
      <h2 class="my-3 fw-bold">Nos formations en Énergie Renouvelable</h2>
      <hr class=" w-50 border border-danger border-4 m-auto p-auto">
      <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
            <div class="col">
              <div class="card h-100">
                <img src="../photos/p-1-habitation-solaire.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Énergie Solaire Photovoltaïque</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/eolienne.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Énergie éolienne</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/pump-inverter.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Pumpage Solaire</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/hydrogen-fuel-cell.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Hydrogène et Pile à combustible</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/biomass-icon.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Biomass</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/energy-storage.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Stockage d'Énergie</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/heat-energy.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Chauffage Solaire</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../photos/efficacite-energetique.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Éfficacité Énergétique</h5>
                  <p class="card-text">Cours en ligne ou/et en présentiel.</p>
                  <a href="#" class="btn btn-primary">Incrivez-vous</a>
                </div>
              </div>
            </div>
      </div>
    </div>
  </section>
  <section class="bg-dark">
    <div class="container-plain mx-5">
      <div class="row">
        <div class="col-12 col-md-6 text-white bg-primary p-5">
          <h2 class="fw-bold text-center"> Formez-vous dès aujourd'hui</h2>
          <h5 style="text-align:justify;line-height:2em">Nous disposons de conférenciers expert qui vous donnerons un aperçu de l'industrie des énergies renouvelables, du besoin de personnel qualifié et des cours de formation accrédités sur les énergies renouvelables que nous proposons.

             <br> Vous découvrirez de meilleur cours pour vous et des soutiens disponibles pendant et après vos études.</h5>
        </div>
        <div class="col-12 col-md-6 text-white" style="background-image:url('../photos/Solar-garden.jpg')">
          <h1 class="text-center fw-bold my-5">Inscrivez-vous ici</h1>
          <form class="form-control bg-transparent text-white border-0" action="mailto:dr.fofd@gmail.com" method="post">
              <h5 class="text-center">
                <!--Choix de la formation-->
                <select name="formation" id="formation">
                    <option value="choix" selected>Cliquez ici pour choisir une formation</option>
                    <option value="bio">Biomass</option>
                    <option value="cs">Chauffage Solaire</option>
                    <option value="ee">Éfficacité Énergétique</option>
                    <option value="eo">Énergie éolienne</option>
                    <option value="esp">Énergie Solaire Photovoltaïque</option>
                    <option value="hpc">Hydrogène et Pile à combustible</option>
                    <option value="ps">Pompage Solaire</option>
                    <option value="se">Stockage d'Énergie</option>
                </select>
              </h5>
              <!--Choix de la ville-->
              <h5 class="text-center my-3">
                <select name="ville" id="ville">
                    <option value="choix" selected>Cliquez ici pour choisir la ville</option>
                    <option value="abjabobo">Abidjan Markaz-Aïcha Abobo HB</option>
                    <option value=abjyop1>Abidjan Yopougon Alfourqan Béago</option>
                    <option value="abjyop2">Abidjan Yopougon Univ. Alfourqan</option>
                    <option value="abjfaya">Abidjan Faya</option>
                    <option value="aben">Abengourou Lobikro Alfourqan 3</option>
                    <option value="bkeairfr">Bouaké Air-France Alfourqan 1</option>
                    <option value="bkeken">Bouaké Kennedy Alfourqan 2</option>
                    <option value="bonon">Bonon Alfourqan</option>
                    <option value="khor">Korhogo</option>
                    <option value="oume">Oumé Alfourqan</option>
                    <option value="sanpedro">San-Pédro</option>
                    <option value="soubre">Soubré Alfourqan</option>
                    <option value="Touba">Touba Markaz Farouk</option>
                </select>
              </h5>
            <div class="my-3">
              <div class="row">

              <div class="col-6">
                <label for="Nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="Nom" value="">
              </div>
              <div class="col-6">
                <label for="Forename" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="Forename" value="">
              </div>
            </div>

            </div>
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control mb-3" id="Email" name="" value="">
            <label for="Phone" class="form-label">Phone</label>
            <input type="text" class="form-control mb-3" id="Phone" value="">
            <div class="col-auto">
               <button type="submit" class="btn btn-primary mb-3">Envoyez</button>
             </div>
           </form>
        </div>

      </div>
    </div>
  </section>
  <section class="bg-white pb-5">
    <!--Nos lieu de formation-->

    <div class="container-plain">
      <h1 class="pt-5 text-center"> Nos lieux de formations en Côte d'Ivoire</h1>
      <hr class="border border-danger border-4 w-50 m-auto p-auto">
      <div class="row mt-4">
        <div class="card h-100 border-0 bg-primary">
          <iframe class="m-auto p-auto" src="https://www.google.com.qa/maps/d/embed?mid=1HGKuDxBs-weTrjbgxH9FRthCHssiEtY&ehbc=2E312F" width="640" height="480"></iframe>
        </div>

    </div>
    </div>
  </section>
</main>
<%-include('footer')-%>
